pkgbase = firmadigital
	pkgdesc = AgenteGaudi para FirmaDigital Costa Rica, Linux client for Costa Rica FirmaDigital
	pkgver = 27
	pkgrel = 1
	install = firmadigital.install
	arch = x86_64
	license = custom
	depends = pcsclite
	depends = pcsc-tools
	depends = ccid
	options = !strip
	options = docs
	options = libtool
	options = emptydirs
	options = !zipman
	options = staticlibs
	source = sfd_ClientesLinux_DEB64_Ubuntu24_Rev27.zip
	md5sums = ded86e0bd6ce043a39526a66a4de5be8

pkgname = firmadigital
